<script>
  function formSubmit() {

    var useremail = document.getElementById("useremail").value;
    var postdata =
      "email=" + useremail + "&workshop=cfos-gke";
      alert('useremail : ' + useremail);
      alert('postdata : ' + postdata);

    var xhr = new XMLHttpRequest();
    xhr.open(
      "POST",
      "https://us-central1-cse-us-341516.cloudfunctions.net/gcp-account-provision",
      false
    );
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
    xhr.setRequestHeader("Access-Control-Allow-Methods", "POST");
    xhr.setRequestHeader('Access-Control-Allow-Headers', 'Content-Type');

    xhr.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        alert("ok");
        console.log(this.responseText);
      }
    };
    xhr.onload = function () {
      console.log(this.responseText);
    };

    xhr.send(postdata);

    document.getElementById("useremail").setAttribute('value', 'Provisioning Started... An email will be sent to the provided address with status');
    return false;
  }
</script>

<form id="provision-lab" onsubmit="return formSubmit();">
  <label for="useremail">Please enter your email address</label>
  <input type="email" id="useremail" name="useremail" value="" />
  <input type="submit" value="Provision" />
</form>